<!-- {% extends "login/landing_page.html" %}

{% block content %}

<h1 class="text-center">Jadwal Dokter</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode Faskes</th>
            <th scope="col">Shift</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Buat Jadwal Dokter</th>
        </tr>
    </thead>
    </tbody>
        


{% endblock content %} -->