{% extends "login/landing_page.html" %}

{% block content %}


<h1 class="text-center">Jadwal Dokter</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">No STR</th>
            <th scope="col">Dokter</th>
            <th scope="col">Faskes</th>
            <th scope="col">Shift</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Jumlah Pasien</th>

        </tr>
    </thead>
    <tbody>
        
        {% for f in field %}
        <tr>
            
            <td>{{ forloop.counter }}</td>
            <td>{{ f.nostr }}</td>
            <td>{{ f.Username }}</td>
            <td>{{ f.kode_faskes }}</td>
            <td>{{ f.shift }}</td>
            <td>{{ f.tanggal }}</td>
            <td>{{ f.jmlpasien }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}