{% extends "login/landing_page.html" %}

{% block content %}


<h1 class="text-center">Daftar Jadwal Faskes</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Faskes</th>
            <th scope="col">Shift</th>
            <th scope="col">Tanggal</th>
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ ap.kode_faskes }}</td>
            <td>{{ ap.shift }}</td>
            <td>{{ ap.tanggal }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}