{% extends "login/landing_page.html" %}
{% block tambahStyle %}
<style>
    .disabled {
        background-color: rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3);
        border-color: rgba(118, 118, 118, 0.3);
    }
</style>
{% endblock tambahStyle %}
{% block content %}

<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Create Ruangan Hotel Form</h1>
        <div style="height: 20px;"></div>
        <form id="formnya" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        console.log("HELLWOO");

        $.ajax({
            type: 'GET',
            url: "{% url 'ruangan_hotel:post_kode_ruangan' %}",
            data: {
                kode_hotel: $('#kodehotel').val()
            },
            async: false,
            success: function (response) {
                $('#koderuangan').val(response.kode_ruangan)
            }
        });

        $('#kodehotel').change(function(){
            $.ajax({
                type: 'GET',
                url: "{% url 'ruangan_hotel:post_kode_ruangan' %}",
                data: {
                    kode_hotel: $('#kodehotel').val()
                },
                async: false,
                error: function (response) {
                    console.log("yah:<");
                },
                success: function (response) {
                    console.log("SUKSES");
                        $("#koderuangan").val(response.kode_ruangan);
                }
            });
        });
    });
    </script>
{% endblock content %}