{% extends "login/landing_page.html" %}

{% block content %}



<h1 class="text-center">Daftar Ruangan Hotel</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode Hotel</th>
            <th scope="col">Kode Ruangan</th>
            <th scope="col">Jenis Bed</th>
            <th scope="col">Tipe</th>
            <th scope="col">Harga</th>

            {% if request.session.peran == 'Admin Sistem' %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for content in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ content.kodehotel }}</td>
            <td>{{ content.koderoom }} </td>
            <td>{{ content.jenisbed }}</td>
            <td>{{ content.tipe }}</td>
            <td>Rp{{ content.harga }}</td>

            {% if request.session.peran == 'Admin Sistem' %}
            <td>
                <form action="{% url 'ruangan_hotel:update' %}" method="get">
                    <input type="hidden" id="kode_hotel" name="kode_hotel" value="{{ content.kodehotel }}">
                    <input type="hidden" id="kode_ruangan" name="kode_ruangan" value="{{ content.koderoom }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            {% if content in ruangankosong %}
            <td>
                <form action="{% url 'ruangan_hotel:delete' %}" method="get">
                    <input type="hidden" id="kode_hotel" name="kode_hotel" value="{{ content.kodehotel }}">
                    <input type="hidden" id="kode_ruangan" name="kode_ruangan" value="{{ content.koderoom }}">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
            {% endif %}
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}