{% extends "login/landing_page.html" %}
{% block tambahStyle %}
<style>
    .disabled {
        background-color: rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3);
        border-color: rgba(118, 118, 118, 0.3);
    }
</style>
{% endblock tambahStyle %}
{% block content %}

<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Update Ruangan Hotel Form</h1>
        <div style="height: 20px;"></div>
        <form id="formnya" action="{% url 'ruangan_hotel:update' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formCreate').on('submit', function (e) {
            const kode_hotel = $('#kode_hotel').val();
            const kode_ruangan = $('#kode_ruangan').val();
            console.log(kode_hotel)
            console.log(kode_ruangan)
        })
    })
    </script>
{% endblock content %}