{% extends "login/landing_page.html" %}

{% block content %}

<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Create Reservasi Hotel Form</h1>
        <div style="height: 20px;"></div>
        <form id="formnya" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <label for="kode_ruangan">Kode Ruangan:</label>
            <select name="kode_ruangan" id="kode_ruangan">
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}

{% block tambahScript %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>

    $(document).ready(function () {
        $('#formnya').on('submit', function (e) {
            const tgl_masuk = $('#tanggal_masuk').val();
            const tgl_keluar = $('#tanggal_keluar').val();
            console.log(tgl_masuk)
            console.log(tgl_keluar)
            if (tgl_masuk > tgl_keluar) {
                alert('Tanggal masuk tidak boleh lebih dari tanggal keluar!')
                e.preventDefault();
            }
        })

        $.ajax({
            type: 'GET',
            url: "{% url 'Reservasi_Hotel:change_ruangan_hotel' %}",
            data: {
                kode_hotel: $('#kode_hotel').val()
            },
            async: false,
            success: function (response) {
                response.ruangan.map((e) => {
                    $('#kode_ruangan').append(new Option(e, e))
                })
            }
        });

        $('#kode_hotel').on('change', function () {
            $('#kode_ruangan').find('option').remove()
            $.ajax({
                type: 'GET',
                url: "{% url 'Reservasi_Hotel:change_ruangan_hotel' %}",
                data: {
                    kode_hotel: $('#kode_hotel').val()
                },
                async: false,
                success: function (response) {
                    response.ruangan.map((e) => {
                        $('#kode_ruangan').append(new Option(e, e))
                    })
                }
            });

        });

    })


</script>
{% endblock tambahScript %}