{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block tambahStyle %}

    {% endblock tambahStyle %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
        href="https://fonts.googleapis.com/css?family=Manjari|Montserrat:300,400,500,600|Poppins:400,600|Pacifico|Open+Sans:300,400,600|Roboto:100,300,400,500,700,900|Monoton&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/your-embed-code.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% if user is not None %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><b>SIRUCO</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- request.session.peran PENGGUNA PUBLIK -->
        {% if request.session.peran == 'Pengguna Publik' %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:profile' %}" style="font-size: 15px;">Profil<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Pasien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'pasien:create' %}">Pendaftaran Pasien</a>
                        <a class="dropdown-item" href="{% url 'pasien:read' %}">List Pasien</a>
                        <a class="dropdown-item" href="/#">Buat Appointment</a>
                        <a class="dropdown-item" href="/#">List Appointment</a>
                        <a class="dropdown-item" href="/#">List Hasil Tes Pasien</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Rumah Sakit
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'jadwaldokter:read' %}">List Jadwal Dokter</a>
                        <a class="dropdown-item" href="{% url 'reservasiRS:read' %}">List Reservasi RS</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Hotel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'hotel:read' %}">List Hotel</a>
                        <a class="dropdown-item" href="{% url 'paketmakan:read' %}">List Paket Makan</a>
                        <a class="dropdown-item" href="{% url 'ruangan_hotel:read' %}">List Ruangan Hotel</a>
                        <a class="dropdown-item" href="{% url 'Reservasi_Hotel:create' %}">Buat Reservasi Hotel</a>
                        <a class="dropdown-item" href="{% url 'Reservasi_Hotel:read' %}">List Reservasi Hotel</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Transaksi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#">Bayar Transaksi RS</a>
                        <a class="dropdown-item" href="/#">Bayar Transaksi Hotel</a>
                        <a class="dropdown-item" href="{% url 'transaksi_booking:read' %}">List Transaksi Booking Hotel</a>
                        <a class="dropdown-item" href="/#">Buat Transaksi Makan dan Daftar Pesan</a>
                        <a class="dropdown-item" href="/#">List Transaksi Makan dan Daftar Pesan</a>
                    </div>
                </li>
            </ul>
        </div>
        {% elif request.session.peran == 'Dokter' %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:profile' %}" style="font-size: 15px;">Profil<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Pasien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#">List Appointment</a>
                        <a class="dropdown-item" href="/#">Buat Hasil Tes Pasien</a>
                        <a class="dropdown-item" href="/#">List Hasil Tes Pasien</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Rumah Sakit
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#">Buat Jadwal Dokter</a>
                        <a class="dropdown-item" href="/#">List Jadwal Dokter</a>
                    </div>
                </li>
            </ul>
        </div>
        {% elif request.session.peran == 'Admin Satgas' %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:profile' %}" style="font-size: 15px;">Profil<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Pasien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/#">Buat Appointment</a>
                        <a class="dropdown-item" href="/#">List Appointment</a>
                        <a class="dropdown-item" href="/#">List Hasil Tes Pasien</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Faskes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'faskes:create' %}">Buat Faskes</a>
                        <a class="dropdown-item" href="{% url 'faskes:read' %}">List Faskes</a>
                        <a class="dropdown-item" href="{% url 'jadwal_faskes:create' %}">Buat Jadwal Faskes</a>
                        <a class="dropdown-item" href="{% url 'jadwal_faskes:read' %}">List Jadwal Faskes</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Rumah Sakit
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'rumahsakit:create' %}">Buat Rumah Sakit</a>
                        <a class="dropdown-item" href="{% url 'rumahsakit:read' %}">List Rumah Sakit</a>
                        <a class="dropdown-item" href="/#">List Jadwal Dokter</a>
                        <a class="dropdown-item" href="/#">Buat Ruangan Rumah Sakit</a>
                        <a class="dropdown-item" href="/#">List Ruangan Rumah Sakit</a>
                        <a class="dropdown-item" href="/#">Buat Bed Rumah Sakit</a>
                        <a class="dropdown-item" href="/#">List Bed Rumah Sakit</a>
                        <a class="dropdown-item" href="{% url 'reservasiRS:create' %}">Buat Reservasi Rumah Sakit</a>
                        <a class="dropdown-item" href="{% url 'reservasiRS:read' %}">List Reservasi Rumah Sakit</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Hotel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'hotel:read' %}">List Hotel</a>
                        <a class="dropdown-item" href="{% url 'paketmakan:read' %}">List Paket Makan</a>
                        <a class="dropdown-item" href="{% url 'ruangan_hotel:read' %}">List Ruangan Hotel</a>
                        <a class="dropdown-item" href="{% url 'Reservasi_Hotel:create' %}">Buat Reservasi Hotel</a>
                        <a class="dropdown-item" href="{% url 'Reservasi_Hotel:read' %}">List Reservasi Hotel</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Transaksi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'transaksirs:read' %}">List Transaksi Rumah Sakit</a>
                        <a class="dropdown-item" href="{% url 'transaksi_hotel:read' %}">List Transaksi Hotel</a>
                        <a class="dropdown-item" href="{% url 'transaksi_booking:read' %}">List Transaksi Booking Hotel</a>
                        <a class="dropdown-item" href="/#">Buat Transaksi Makan dan Daftar Pesan</a>
                        <a class="dropdown-item" href="/#">List Transaksi Makan dan Daftar Pesan</a>
                    </div>
                </li>
            </ul>
        </div>
        {% elif request.session.peran == 'Admin Sistem' %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:profile' %}" style="font-size: 15px;">Profil<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                        Hotel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'hotel:create' %}">Buat Hotel</a>

                        <a class="dropdown-item" href="{% url 'hotel:read' %}">List Hotel</a>
                        <a class="dropdown-item" href="{% url 'paketmakan:create' %}">Buat Paket Makan</a>
                        <a class="dropdown-item" href="{% url 'paketmakan:read' %}">List Paket Makan</a>
                        <a class="dropdown-item" href="{% url 'ruangan_hotel:create' %}">Buat Ruangan Hotel</a>
                        <a class="dropdown-item" href="{% url 'ruangan_hotel:read' %}">List Ruangan Hotel</a>
                    </div>
                </li>

            </ul>
        </div>
        {% endif %}
        <div>
            <a href="{% url 'login:logout'%}"><svg style="margin: 0% 0% 0% 5%;" class="bi bi-box-arrow-right"
                    width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11.646 11.354a.5.5 0 010-.708L14.293 8l-2.647-2.646a.5.5 0 01.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h9a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M2 13.5A1.5 1.5 0 01.5 12V4A1.5 1.5 0 012 2.5h7A1.5 1.5 0 0110.5 4v1.5a.5.5 0 01-1 0V4a.5.5 0 00-.5-.5H2a.5.5 0 00-.5.5v8a.5.5 0 00.5.5h7a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V12A1.5 1.5 0 019 13.5H2z"
                        clip-rule="evenodd" />
                </svg></a>
        </div>
    </nav>
    {% endif %}
    {% block content %}

    {% endblock content %}
</body>
{% block tambahScript %}

{% endblock tambahScript %}


</html>