<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<header>
    <div>
        <a href="/">
            <svg class="bi bi-arrow-left-short" width="6em" height="5em" viewBox="0 0 16 16" fill="black"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</header>
<div class="centered">

    <h1 style="text-align: center;">Login Form</h1>
    <div style="height: 20px;"></div>
    {{message}}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login">
        <div class="form-group row">
            <div>
                <p>Belum punya akun? daftar <a href="/register">disini.</a></p>
            </div>
        </div>
    </form>
</div>



</html>