<!DOCTYPE html>
<html>

<head>
    <title>Login or Register</title>
</head>

<body>
    <h1>
        Mau Login apa Register?
    </h1>
    <div>
        <form>
            <button>
                <a href="{% url 'login:login' %}">Login</a>
            </button>
            <button>
                <a href="{% url 'login:register' %}">Register</a>
            </button>
        </form>
    </div>
</body>

</html>