{% extends "login/landing_page.html" %}


{% block content %}


{{message}}



<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Update Profile</h1>
        <div style="height: 20px;"></div>
        <form action="{% url 'login:profile' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>






{% endblock content %}
