<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <h1>
        Mau register sebagai apa?
    </h1>
    <div class=register>
        <form id=register>
            <button>
                <a href="{% url 'login:register_admin_sistem' %}">ADMIN SISTEM</a>
            </button>
            <button>
                <a href="{% url 'login:register_pengguna_publik' %}">PENGGUNA PUBLIK</a>
            </button>
            <button>
                <a href="{% url 'login:register_dokter' %}">DOKTER</a>
            </button>
            <button>
                <a href="{% url 'login:register_admin_satgas' %}">ADMIN SATGAS</a>
            </button>
        </form>
    </div>
</body>

</html>