<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="centered">

        <h1 style="text-align: center;">Admin Sistem Form</h1>
        <div style="height: 20px;"></div>
        {{message}}
        <form style="justify-content: center; display:flex; align-items:center; flex-direction:column" action=""
            method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {{form.kode_faskes}}
            <input type="submit" value="Login">
            <div class="form-group row">
            </div>
        </form>
    </div>
</body>

</html>