{% extends "login/landing_page.html" %}

{% block content %}

<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Create Paket Makan</h1>
        <div style="height: 20px;"></div>
        <form id="formCreate" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}

{% block tambahScript %}

{% endblock tambahScript %}