{% extends "login/landing_page.html" %}

{% block content %}

<h1 class="text-center">List Paket Makan</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode Hotel</th>
            <th scope="col">Kode Paket</th>
            <th scope="col">Nama Paket</th>
            <th scope="col">Harga</th>

            {% if request.session.peran == 'Admin Sistem' %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ ap.kodehotel }}</td>
            <td>{{ ap.kodepaket }} </td>
            <td>{{ ap.nama }}</td>
            <td>{{ ap.harga }}</td>
            </td>

            {% if request.session.peran == 'Admin Sistem' %}
            <td>
                <form action="{% url 'paketmakan:update' %}" method="get">
                    <input type="hidden" id="nama" name="nama_paket" value="{{ ap.nama }}">
                    <input type="hidden" id="harga" name="harga" value="{{ ap.harga }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            <td>
                <form action="{% url 'paketmakan:delete' %}" method="get">
                    <input type="hidden" id="nama" name="nama_paket" value="{{ ap.nama }}">
                    <input type="hidden" id="harga" name="harga" value="{{ ap.harga }}">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}