{% extends "login/landing_page.html" %}

{% block content %}

<h1 class="text-center">Daftar Hotel</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode</th>
            <th scope="col">Hotel</th>
            <th scope="col">Rujukan</th>
            <th scope="col">Alamat</th>

            {% if request.session.peran == 'Admin Sistem' %}
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ ap.kode }}</td>
            <td>{{ ap.nama }} </td>
            {% if ap.isrujukan == '1'%}
            <td> <i class="fa fa-check-square" aria-hidden="true"></i></td>
            {% else %}
            <td> <i class="fa fa-square-o" aria-hidden="true"></i></td>
            {% endif %}
            <td>{{ ap.jalan }}, {{ap.kelurahan}}, {{ap.kecamatan}}, {{ap.kabkot}}, {{ap.prov}}</td>
            </td>

            {% if request.session.peran == 'Admin Sistem' %}
            <td>
                <form action="{% url 'hotel:update' %}" method="get">
                    <input type="hidden" id="kode" name="kode" value="{{ ap.kode }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}