{% extends "login/landing_page.html" %}

{% block content %}

<h1 class="text-center">List Transaksi Hotel</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID Transaksi</th>
            <th scope="col">NIK Pasien</th>
            <th scope="col">Tanggal Pembayaran</th>
            <th scope="col">Waktu Pembayaran</th>
            <th scope="col">Total Biaya</th>
            <th scope="col">Status</th>
            {% if request.session.peran == 'Admin Satgas' %}
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <th scope="row">{{ ap.idtransaksi }}</th>

            <td>{{ ap.kodepasien }}</td>
            <td>{{ ap.tanggalpembayaran }}</td>
            <td>{{ ap.waktupembayaran }}</td>
            <td>{{ ap.totalbayar }}</td>
            <td>{{ ap.statusbayar }}</td>

            {% if request.session.peran == 'Admin Satgas' %}
            <td>
                <form action="{% url 'transaksi_hotel:update' %}" method="get">
                    <input type="hidden" id="idtransaksi" name="idtransaksi" value="{{ ap.idtransaksi }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}