{% extends "login/landing_page.html" %}

{% block content %}

<h1 class="text-center">List Transaksi Booking Hotel</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">ID Transaksi</th>
            <th scope="col">Total Bayar</th>
            <th scope="col">Kode Pasien</th>
            <th scope="col">Tanggal Masuk</th>
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ ap.idtransaksibooking }}</td>
            <td>{{ ap.totalbayar }}</td>
            <td>{{ ap.kodepasien }}</td>
            <td>{{ ap.tglmasuk }}</td>

        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}