{% extends "login/landing_page.html" %}
{% block tambahStyle %}
<style>
    .disabled {
        background-color: rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3);
        border-color: rgba(118, 118, 118, 0.3);
    }
</style>
{% endblock tambahStyle %}
{% block content %}



<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Create Faskes Form</h1>
        <div style="height: 20px;"></div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}