{% extends "login/landing_page.html" %}

{% block content %}


<h1 class="text-center">Daftar faskes</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Kode Faskes</th>
            <th scope="col">Tipe</th>
            <th scope="col">Nama Faskes</th>
            {% if request.session.peran == 'Admin Satgas' %}
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>

            <td>{{ ap.kode }}</td>
            <td>{{ ap.tipe }}</td>
            <td>{{ ap.nama }}</td>
            {% if request.session.peran == 'Admin Satgas' %}
            <td>
                <form action="{% url 'faskes:update' %}" method="get">
                    <input type="hidden" id="kode" name="kode" value="{{ ap.kode }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            <td>

                <form action="{% url 'faskes:delete' %}" method="get">
                    <input type="hidden" id="kode" name="kode" value="{{ ap.kode }}">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
            <td>
                <form action="{% url 'faskes:details' %}" method="get">
                    <input type="hidden" id="kode" name="kode" value="{{ ap.kode }}">
                    <button type="submit" class="btn btn-outline-primary">Detail</button>
                </form>
            </td>
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}