{% load static %}

<html lang="en">

<head>
    {% include "base.html" %}
</head>

{% if user is not None %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><b>FARMAKAMI</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user == "admin_apotek" or "cs" %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/profile" style="font-size: 15px;">Profil<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Apotek
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user == "admin_apotek" %}
                    <a class="dropdown-item" href="/create_apotek">Buat Apotek</a>
                    {% endif %}
                    <a class="dropdown-item" href="/apotek">Daftar Apotek</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Transaksi Pembelian dan Transaksi Resep
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user == "admin_apotek" %}
                    <a class="dropdown-item" href="/transaksi_pembelian/create">Buat Transaksi Pembelian</a>
                    {% endif %}
                    <a class="dropdown-item" href="/transaksi_pembelian/">Daftar Transaksi Pembelian</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/transaksi_resep/create">Buat Transaksi Resep</a>
                    <a class="dropdown-item" href="/transaksi_resep/">Daftar Transaksi Resep</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Produk-Apotek
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user == "admin_apotek" %}
                    <a class="dropdown-item" href="/update_produk_apotek">Buat Produk-Apotek</a>
                    {% endif %}
                    <a class="dropdown-item" href="/produk_apotek">Daftar Produk-Apotek</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    List Produk Dibeli
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user == "admin_apotek" %}
                    <a class="dropdown-item" href="/create_list_produk_dibeli">Buat List Produk Dibeli</a>
                    {% endif %}
                    <a class="dropdown-item" href="/list_produk_dibeli">Daftar Produk Dibeli</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Pengantaran Farmasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user == "admin_apotek" %}
                    <a class="dropdown-item" href="/create_pengantaran_farmasi">Buat Pengantaran Farmasi</a>
                    {% endif %}
                    <a class="dropdown-item" href="/pengantaran_farmasi">Daftar Pengantaran Farmasi</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Alat Medis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/alat_medis/create">Buat Alat Medis</a>
                    <a class="dropdown-item" href="/alat_medis/">Daftar Alat Medis</a>
                </div>
            </li>
        </ul>
    </div>
    {% elif user == "konsumen" or "kurir" %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/profile" style="font-size: 15px;">Profil <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Apotek
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/apotek">Daftar Apotek</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Transaksi Pembelian dan Transaksi Resep
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/transaksi_pembelian/">Daftar Transaksi Pembelian</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/transaksi_resep/">Daftar Transaksi Resep</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Produk-Apotek
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/produk_apotek">Daftar Produk-Apotek</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    List Produk Dibeli
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/list_produk_dibeli">Daftar Produk Dibeli</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Pengantaran Farmasi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user == "kurir" %}
                    <a class="dropdown-item" href="/pengantaran_farmasi">Daftar Pengantaran Farmasi</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 15px;">
                    Alat Medis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/alat_medis/">Daftar Alat Medis</a>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
    <div>
        <a href="/logout"><svg style="margin: 0% 0% 0% 5%;" class="bi bi-box-arrow-right" width="1.5em" height="1.5em"
                viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.646 11.354a.5.5 0 010-.708L14.293 8l-2.647-2.646a.5.5 0 01.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h9a.5.5 0 010 1H5a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M2 13.5A1.5 1.5 0 01.5 12V4A1.5 1.5 0 012 2.5h7A1.5 1.5 0 0110.5 4v1.5a.5.5 0 01-1 0V4a.5.5 0 00-.5-.5H2a.5.5 0 00-.5.5v8a.5.5 0 00.5.5h7a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V12A1.5 1.5 0 019 13.5H2z"
                    clip-rule="evenodd" />
            </svg></a>
    </div>
</nav>
{% endif %}

{% block content %} {% endblock content %}
</div>
</body>

</html>