{% extends "login/landing_page.html" %}

{% block content %}



<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Create Rumah Sakit Form</h1>
        <div style="height: 20px;"></div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="checkbox" id="isRujukan" name="isRujukan" value="1">
            <label for="isRujukan"> Rujukan: </label><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}