{% extends "login/landing_page.html" %}

{% block tambahStyle %}
<style>
    .disabled {
        background-color: rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3);
        border-color: rgba(118, 118, 118, 0.3);
    }
</style>
{% endblock tambahStyle %}
{% block content %}
<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;"> Update Rumah Sakit</h1>
        <div style="height: 20px;"></div>
        <form action="{% url 'rumahsakit:update' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% if isRujukan == '1' %}

            <input type="checkbox" id="isRujukan" name="isRujukan" value="1" checked>
            <label for="isRujukan"> Rujukan: </label><br>


            {% else %}
            <input type="checkbox" id="isRujukan" name="isRujukan" value="1">
            <label for="isRujukan"> Rujukan: </label><br>

            {% endif %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>




{% endblock content %}