{% extends "login/landing_page.html" %}


{% block content %}

<h1 class="text-center">Detail Pasien</h1>
<table class="table">

    <tbody>
        <tr>
            <th scope="row">Pendaftar</th>
            <td>{{idpendaftar}}</td>

        </tr>
        <tr>
            <th scope="row">NIK</th>
            <td>{{nik}}</td>

        </tr>
        <tr>
            <th scope="row">Nama</th>
            <td>{{nama}}</td>
        </tr>
        <tr>
            <th scope="row">Nomor Telepon</th>
            <td>{{notelp}}</td>
        </tr>
        <tr>
            <th scope="row">Nomor HP</th>
            <td>{{nohp}}</td>
        </tr>
        <tr>
            <th scope="row">Jalan (Sesuai KTP)</th>
            <td>{{ktp_jalan}}</td>
        </tr>
        <tr>
            <th scope="row">Kelurahan (Sesuai KTP)</th>
            <td>{{ktp_kelurahan}}</td>
        </tr>
        <tr>
            <th scope="row">Kecamatan (Sesuai KTP)</th>
            <td>{{ktp_kecamatan}}</td>
        </tr>
        <tr>
            <th scope="row">Kabupaten/Kota (Sesuai KTP)</th>
            <td>{{ktp_kabkot}}</td>
        </tr>
        <tr>
            <th scope="row">Provinsi (Sesuai KTP)</th>
            <td>{{ktp_prov}}</td>
        </tr>
        <tr>
            <th scope="row">Jalan (Domisili)</th>
            <td>{{dom_jalan}}</td>
        </tr>
        <tr>
            <th scope="row">Kelurahan (Domisili)</th>
            <td>{{dom_kelurahan}}</td>
        </tr>
        <tr>
            <th scope="row">Kecamatan (Domisili)</th>
            <td>{{dom_kecamatan}}</td>
        </tr>
        <tr>
            <th scope="row">Kabupaten/Kota (Domisili)</th>
            <td>{{dom_kabkot}}</td>
        </tr>
        <tr>
            <th scope="row">Provinsi (Domisili)</th>
            <td>{{dom_prov}}</td>
        </tr>
    </tbody>
</table>
<div style="display: flex;justify-content:center;align-items:center">
    <button class="btn btn-warning"><a href="{% url 'pasien:read'%}">Kembali</a></button>
</div>
{% endblock content %}