{% extends "login/landing_page.html" %}

{% block content %}


<h1 class="text-center">Daftar Pasien</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">NIK</th>
            <th scope="col">Nama Pasien</th>
            {% if request.session.peran == 'Pengguna Publik' %}
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>

            <td>{{ ap.nik }}</td>
            <td>{{ ap.nama }}</td>
            {% if request.session.peran == 'Pengguna Publik' %}
            <td>
                <form action="{% url 'pasien:update' %}" method="get">
                    <input type="hidden" id="nik" name="nik" value="{{ ap.nik }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            <td>

                <form action="{% url 'pasien:delete' %}" method="get">
                    <input type="hidden" id="nik" name="nik" value="{{ ap.nik }}">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
            <td>
                <form action="{% url 'pasien:details' %}" method="get">
                    <input type="hidden" id="nik" name="nik" value="{{ ap.nik }}">
                    <button type="submit" class="btn btn-outline-primary">Detail</button>
                </form>
            </td>
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}