{% extends "login/landing_page.html" %}

{% block content %}


<h1 class="text-center">Daftar Reservasi RS</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">NIK Pasien</th>
            <th scope="col">Tanggal Masuk</th>
            <th scope="col">Tanggal Keluar</th>
            <th scope="col">Rumah Sakit</th>
            <th scope="col">Ruangan</th>
            <th scope="col">Bed</th>

            {% if request.session.peran == 'Admin Satgas' %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for ap in apt %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ ap.kodepasien }}</td>
            <td>{{ ap.tglmasuk }} </td>
            <td>{{ ap.tglkeluar }}</td>
            <td>{{ ap.koders }}</td>
            <td>{{ ap.koderuangan }}</td>
            <td>{{ ap.kodebed }}
            </td>

            {% if request.session.peran == 'Admin Satgas' %}
            <td>
                <form action="{% url 'reservasiRS:update' %}" method="get">
                    <input type="hidden" id="kodepasien" name="kodepasien" value="{{ ap.kodepasien }}">
                    <input type="hidden" id="tglmasuk" name="tglmasuk" value="{{ ap.tglmasuk }}">
                    <button type="submit" class="btn btn-outline-warning">Update</button>
                </form>
            </td>
            {% if ap.tglmasuk|date:'Y-m-d' > date %} <td>
                <form action="{% url 'reservasiRS:delete' %}" method="get">
                    <input type="hidden" id="kodepasien" name="kodepasien" value="{{ ap.kodepasien }}">
                    <input type="hidden" id="tglmasuk" name="tglmasuk" value="{{ ap.tglmasuk }}">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
            {% endif %}
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>


{% endblock content %}