{% extends "login/landing_page.html" %}
{% block tambahStyle %}
<style>
    .disabled {
        background-color: rgba(22, 16, 16, 0.3), rgba(59, 59, 59, 0.3);
        border-color: rgba(118, 118, 118, 0.3);
    }
</style>
{% endblock tambahStyle %}
{% block content %}



<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
    <div class="centered">
        <h1 style="text-align: center;">Update Reservasi RS Form</h1>
        <div style="height: 20px;"></div>
        <form id="formCreate" action="{% url 'reservasiRS:update' %}" method="POST">
            {% csrf_token %}

            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock content %}
{% block tambahScript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#formCreate').on('submit', function (e) {
            const tgl_masuk = $('#tanggal_masuk').val();
            const tgl_keluar = $('#tanggal_keluar').val();
            console.log(tgl_masuk)
            console.log(tgl_keluar)
            if (tgl_masuk > tgl_keluar) {
                alert('Tanggal masuk tidak boleh lebih dari tanggal keluar!')
                e.preventDefault();
            }
        })
    })


</script>
{% endblock tambahScript %}